---
layout: default
title: idoogu 就是爱嘟嘟啦
description: "idoogu就是爱嘟嘟啦"
lang: zh
class: yellow-hero
---

<section id="hero">
  <div class="container">
    <ul class="grid-2">
      <li>
        <p>2020.2.7-2.10</p>
        <h1>乐高英雄勇闯魔都 <span>-</span></br>小小摄影师</h1>
        <p>除了让孩子学会拍电影，更结合了欧美最火的计算思维</p>
        <a  data-scroll href="{{ site.url }}{{ site.baseurl }}{{ t_url_prefix }}/#register" class="button">立即报名</a>
      </li>
      <li class="tablet-only decoration">
        <div id="three-container" class="three-bg"></div>
      </li>
    </ul>
  </div>
</section>

<section id="who" class="">
  <div class="container">
    <div class="row">
      <div class="left">
        <span class="strapline">Why idoogu?</span>
        <h2>来自台湾的乐高电影寒假训练营</h2>
        <p>今年暑假我们团队开了六个不同类型的营队，最受孩子们欢迎的就是乐高电影营；十月回上海看看老朋友，朋友问到：怎么不来上海办呢？我们很缺这样的好课程啊。于是就点燃我们魔都大冒险的火苗，我们把最受孩子们喜爱的课程带来魔都了。</p>
      </div>
      <div class="right">
        <!-- <img src="assets/images/video.png" alt=""> -->
        <video controls width="480">
          <source src="assets/videos/movie_camp_mobile_480.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>

<section id="why" class="border-top">
    <div class="container narrow align-center">
      <div class="row">
        <span class="strapline">Why LEGO?</span>
        <h2>为什么选择乐高电影？</h2>
        <p class="quote"><q>电影是一个很好的艺术载体，它是启发人的思维和想像力的一种媒介。可以再现过去，表现未来，也可以影响一个人的成长。</q></br>—史蒂芬·斯皮尔伯格</p>
        <p class="align-left">视频是很吸引人的，但让孩子编一个故事，然后演出来，再把它拍成视频，对孩子来说不是件容易的事。用乐高小人偶来当主角，刚好弥补了「演技」这个难题。 小人偶可以表现很多动作，简单的动作、复杂的动作，就算没有配音跟字幕也能吸引目光。 一张图、一段影片都是一个故事。 用乐高来拍电影，孩子们可以专注在发挥「创意」,然后透过「创作」来表达，这是最可贵的。 </p>
      </div>
    </div>
  </section>

<section id="timeline" class="border-top">
  <div class="container">
    <div class="row">
      <span class="strapline">Our content</span>
      <h2 class="margin-bottom-2x">我们为孩子准备了</h2>
      <div class="left">
        <h3>抢鲜体验班 (3 小时) </h3>
        <p>我的孩子不喜欢怎么办？沒事！这堂课就是特别为您准备的。三小时的学习体验班，先体验，喜欢可以再报名两天完整课程班。</p>
        <p>可以两场都报吗？当然可以，课程都是精心设计的，教学内容完全不重复。還能折抵報名費 $200 元。</p>
        <div class="grid-2 margin-bottom">
          <p>定价<strong class="margin-left-half normal-price">¥600</strong></p>
          <p>早鸟<strong class="margin-left-half earlybird-price">¥500</strong></br> <span>(1/15 前完成报名）</span></p>
        </div>
        {% include utils/i18n.liquid %}
        {% include class-trail.html %}
      </div>
      <div class="right">
        <h3>小小摄影师养成班（12 小时） </h3>
        <p>两天 12 小时的课程，我们教孩子如何说故事，什么是动画，怎么拍摄，更重要的，不能只有学习，还要拍出属于孩子的动画片。</p>
        <p>这是门全新设计的课程，我们将去年的课程重新规划，让孩子除了学会拍电影，也能接触到对未来帮助非常大的计算思维。</p>
        <div  class="grid-2 margin-bottom">
          <p>定价<strong class="margin-left-half normal-price">¥2600 </strong></p>
          <p>早鸟<strong class="margin-left-half earlybird-price">¥2400</strong></br><span>(1/15 前完成报名）</span></p>
        </div>
        {% include utils/i18n.liquid %}
        {% include class-normal.html %}
      </div>
    </div>
  </div>
</section>

<section id="register" class="grey-bg">
  <div class="container">
    <div class="row">
      <div class="align-left">
        <span class="strapline">Apply</span>
        <h2>我要报名</h2>  
      </div>  
      <div class="card">
          {% include utils/i18n.liquid %}
          {% include register.html %}
      </div>
    </div>
  </div>
</section>