---
layout: default
title: idoogu | 爱嘟嘟
description: "idoogu 就是爱嘟嘟啦"
lang: zh
class: yellow-hero
---

<section id="hero">
  <div class="container">
    <ul class="grid-2 overflow-hidden">
      <li>
        <p>2020.2.7-2.10</p>
        <h1>乐高英雄勇闯魔都</br>小小摄影师</h1>
        <p>除了让孩子学会拍电影，更结合了欧美最火的计算思维</p>
      </li>
      <li class="tablet-only decoration">
      </li>
    </ul>

    <a href="#" class="button">立即报名</a>
  </div>
</section>

<section id="who" class="">
  <div class="container">
    <div class="row">
      <div class="left">
        <span class="strapline">Why idoogu?</span>
        <h2>来自台湾的乐高电影寒假训练营</h2>
        <p>今年暑假我们团队开了六个不同类型的营队，最受孩子们欢迎的就是乐高电影营；十月回上海看看老朋友，朋友问到：怎么不来上海办呢？我们很缺这样的好课程啊。于是就点燃我们魔都大冒险的火苗，我们把最受孩子们喜爱的课程带来魔都了。</p>
      </div>
      <div class="right"><img src="assets/images/video.png" alt=""></div>
    </div>
  </div>
</section>

<section id="why" class="">
    <div class="container">
      <div class="row">
        <div class="left"></div>
        <div class="right">
          <span class="strapline">Why LEGO?</span>
          <h2>为什么选择乐高电影？</h2>
          <p class="quote"><q>电影是一个很好的艺术载体，它是启发人的思维和想像力的一种媒介。可以再现过去，表现未来，也可以影响一个人的成长。</q>—史蒂芬·史匹柏</p>
          <p>视频是很吸引人的，但让孩子编一个故事，然后演出来，再把它拍成视频，对孩子来说不是件容易的事。用乐高小人偶来当主角，刚好弥补了「演技」这个难题。 小人偶可以表现很多动作，简单的动作、复杂的动作，就算没有配音跟字幕也能吸引目光。 一张图、一段影片都是一个故事。 用乐高来拍电影，孩子们可以专注在发挥「创意」,然后透过「创作」来表达，这是最可贵的。 </p>
        </div>
      </div>
    </div>
  </section>

<section id="timeline" class="border-top">
  <div class="container narrow align-center">
    <div class="row">
      <span class="strapline">Our content</span>
      <h2 class="margin-bottom-2x">8堂课 12小时</h2>
      <ol class="grid-4 padded">
        <li>认识电影</li>
        <li>电影技巧说明</li>
        <li>如何说故事编剧</li>
        <li>运镜技巧</li>
        <li>当个小导演</li>
        <li>拍电影不简单</br>伟大的幕后人员</li>
        <li>Action!</li>
        <li>电影发表会</li>
      </ol>
    </div>
  </div>
</section>

<section id="register" class="grey-bg">
  <div class="container">
    <div class="row">
      <h2 class="align-center">我要报名</h2>    
      <div class="card">
          {% include utils/i18n.liquid %}
          {% include register.html %}
      </div>
    </div>
  </div>
</section>