#content {
  #hero {
    padding: 4*$space 0;
    h1 {
      line-height: 130%;
    }
    h1 + p {
      @include font-size($large);
      line-height: 140%;
    }
    .grid-2 {
      overflow: hidden;
      position: relative;
      img {
        opacity: 0.6;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
      }
    }
    .clients {
      border-top: 1px solid $line;
      overflow: hidden;
      position: relative;
      text-align: center;
      white-space: nowrap;
      &:after,
      &:before {
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        z-index: 999;
      }
      &:after {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        right: 0;
      }
      &:before {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        left: 0;
      }
      .wrapper {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        top: 0;
      }
      svg {
        display: inline-block;
        opacity: 0.8;
      }
      @include breakpoint(mobile) {
        height: 2*$space;
        &:after,
        &:before {
          width: 2*$space;
        }
        svg {
          margin: 0 $space/2;
          width: 3*$space;
        }
      }
      @include breakpoint(tablet) {
        height: 4*$space;
        &:after,
        &:before {
          width: 4*$space;
        }
        svg {
          margin: 0 1.5*$space/2;
          width: 4*$space;
        }
      }
    }
  }
  .row {
    @include breakpoint(mobile) {
      padding: 3*$space 0;
    }
    @include breakpoint(tablet) {
      padding: 4*$space 0;
      & > .one-third {
        width: 33%;
      }
      & > .two-thirds {
        width: 67%;
      }
    }
  }
  .grid,
  .grid-2,
  .grid-3,
  .grid-4 {
    li {
      & > *:last-child {
        margin-bottom: 0
      }
    }
  }
  .row {
    & > .left,
    & > .right {
      & > *:last-child {
        margin-bottom: 0
      }
    }
  }
  #solutions {
    .grid-4 {
      a {
        color: inherit;
        display: block;
        padding: 1.5*$space/4;
        img {
          display: block;
          margin: 0 auto $space/2;
          vertical-align: middle;
          width: 3*$space;
        }
        &:hover {
          background: $light;
          text-decoration: none;
        }
      }
    }
  }
  .product-details {
    svg {
      display: inline-block;
      height: $space;
      fill: $yellow;
      opacity: 0.9;
      vertical-align: bottom;
      width: $space;
    }
  }
  .screenshot {
    overflow: hidden;
    @include breakpoint(mobile) {
      margin: 2*$space 0 (-3*$space) 0;
    }
    @include breakpoint(tablet) {
      margin: 3*$space 0 (-4*$space) 0;
    }
    img {
      margin-bottom: -5*$space;
    }
  }
  #who {
    video {
      @include breakpoint(mobile) {
        width: 100%;
      }
    }
  }
  #timeline {
    .earlybird-price {
      font-size: 160%;
      color: $primary;
      vertical-align: middle;
    }
    .earlybird-price ~ span {
      @include font-size($smaller);
    }
  }
}
