#footer {
  background: $light;
  color: $grey;
  @include font-size($smaller);
  line-height: 140%;
  padding: $space/2;
  a {
    color: inherit;
    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
  p {
    margin-bottom: $space/2;
  }
  svg {
    fill: $grey;
    margin-bottom: $space/2;
    width: 4*$space;
  }
  @include breakpoint(mobile) {
    padding: $space/2 0;
  }
  @include breakpoint(tablet) {
    padding: $space 0;
  }
  .legal {
    color: $grey;
  }
}
