body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

h1 {
  @include breakpoint(mobile) {
    @include font-size($headline-1*.7);
  }
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

p {
  @include font-size($headline-3);
  line-height: 170%;
}

a {
  color: $yellow;
  transition-property: background, color;
  transition-duration: $ease;
}

strong,
b {
  font-weight: 400;
}

svg {
  fill: $black;
}

.strapline {
  color: $grey;
  @include font-size($smaller);
  font-weight: inherit;
  line-height: 140%;
  margin-top: -300px; 
}

.thumbnail {
  background-color: $light;
  height: 3*$space;
  width: 3*$space;
}

.button {
  background: transparent;
  border: 1px solid $black;
  box-sizing: border-box;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-weight: inherit;
  line-height: inherit;
  outline: none;
  padding: $space/4 1.5*$space/2;
  text-align: center;
  transition-property: background, border, color;
  transition-duration: $ease;
  &:hover {
    border-color: $yellow;
    color: $yellow;
    text-decoration: none;
  }
  &.larger {
    @include font-size($large);
    padding: $space/3 $space;
  }
}

.overflow-hidden {
  overflow: hidden;
}

body.black-hero,
body.yellow-hero {
  #header,
  #content #hero {
    svg {
      fill: #000;
    }
  }
  #header {
    a:hover {
      color: #000;
    }
  }
  #content {
    #hero {
      color: #000;
      .button {
        border-color: #000;
        color: #000;
        &:hover {
          background: #000;
        }
      }
    }
  }
}

body.black-hero {
  #header {
    background: $black;
    border-bottom-color: lighten($black, 10%);
  }
  #content {
    #hero {
      background: $black;
      .button {
        &:hover {
          color: $black;
        }
      }
    }
  }
  #content {
    #hero {
      .clients {
        border-top-color: lighten($black, 10%);
        &:after {
          background-image: linear-gradient(to right, rgba($black, 0), rgba($black, 1));
        }
        &:before {
          background-image: linear-gradient(to left, rgba($black, 0), rgba($black, 1));
        }
      }
    }
  }
}

body.yellow-hero {
  #header {
    background: $yellow;
    border-bottom-color: lighten($yellow, 10%);
    color: darken($yellow, 40%);
  }
  #content {
    #hero {
      background: $yellow;
      .button {
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  #content {
    #hero {
      .clients {
        border-top-color: lighten($yellow, 10%);
        &:after {
          background-image: linear-gradient(to right, rgba($yellow, 0), rgba($yellow, 1));
        }
        &:before {
          background-image: linear-gradient(to left, rgba($yellow, 0), rgba($yellow, 1));
        }
      }
    }
  }
}

.black-bg,
.yellow-bg,
.grey-bg {
  overflow: hidden;
}

.grey-bg {
  background: $light;
}

.black-bg,
.yellow-bg {
  color: #FFF;
}

.black-bg {
  background: $black;
  position: relative;
  @include clearfix();
}

form {
  background: #FFF;
  padding: $space;
}

.case-study {
  display: block;
  padding: 1.5*$space/4;
  text-align: left;
}

#how {
  img {
    max-width: 300px;
  }
}

canvas {
  width: 100%;
  height: 100%
}

.grid-1 {
  list-style: none;
  margin: -12px;

  li {
    padding: 12px;
  }

  &::after {
    clear: both;
    content: '';
    display: block; 
  }
}

.quote {
  color: $grey;
}