<ul class="grid-3">
  <li>
    <h4 class="margin-bottom-half">联系我们</h4>
    <p>
      <!-- <a class="tel" href="tel:+86">电话: (+86) </a><br/> -->
      <a class="tel" href="mailto:hello@idoogu.com">hello@idoogu.com</a>
    </p>
  </li>
  <li>
    <h4 class="margin-bottom-half">关于 idoogu</h4>
    <p>来自台湾的乐高电影寒假训练营，我们帮助孩子快乐的成长。</p>
  </li>
  <li>
    <img src="assets/images/qrcode.jpg" alt="QR code" class="qrcode"></br>
    <small class="legal">微信公众号 idoogu</small>
  </li>
</ul>
<small class="legal">Copyright © {{ site.time | date: "%Y" }} idoogu 就是唉嘟咕.</small>