<nav class="menu">
    <section class="links">
      <a class="link-home" href="{{ site.url }}{{ site.baseurl }}{{ t_url_prefix }}/">
        {{ site.data.logos.idoogu }}
      </a>
      <div class="link-menus">
        {% for item in site.data.menu %}
          {% if item.url %}<a data-scroll href="{{ item.url }}" class="link-{{ item.id }}">{{ t.menu[item.id] }}</a>
          {% else %}<a data-scroll href="{{ site.url }}{{ site.baseurl }}{{ t_url_prefix }}{{ item.path }}" class="link-{{ item.id }}">{{ t.menu[item.id] }}</a>{% endif %}
        {% endfor %}
      </div>
    </section>
    <!-- <section class="languages">
      {% include lang.html %}
    </section> -->
</nav>
  